.questions
  %h2 Questions --UNDER CONSTRUCTION--
  %h4 You are very welcome to ask me a question
  %h4 ↓↓↓↓↓↓↓↓↓↓↓↓↓
  %li
    = link_to 'New Question', new_question_path, :class => "btn btn-info"

  %h2 Priorly Asked Questions
  - collection.each do |q|
    .jumbotron
      %div.circle-small
        %li Question
        %p
        = q.title
        %p
        = q.created_at
      %div.circle-small
        %li Description
        = q.description
      %li
        = link_to "Edit Question", edit_question_path(:id), :class => "btn btn-danger"
