.questions
  %h2 Questions
  %img.border{:src => "/img/border.jpg"}
  %h4 You are very welcome to ask me a question
  %h4 ↓↓↓↓↓↓↓↓↓↓↓↓↓
  %li
    = link_to 'New Question', new_question_path, :class => "btn btn-info"

  %h2 Priorly Asked Questions
  - collection.each do |q|
    .jumbotron
      %h3 Question
      %h4
        Title:
        = q.title
      %p
      Created:
      = q.created_at
      Updated:
      = q.updated_at
      %p
      = link_to "Edit Question", edit_question_path(q), :class => "btn btn-danger btn-full"

      %h3 Description
      %h5
        Description:
        = q.description
      %p
      = link_to "Edit Description", edit_question_path(q), :class => "btn btn-danger btn-full"

      %h3 Answer
      %h4
        Answer:
        = q.answer
      %p
      Created:
      = q.created_at
      Updated:
      = q.updated_at
      %p
      - if current_user
        - if current_user.email="ninastache@gmx.de"
          %li
            = link_to "Answer Question", edit_question_path(q), :class => "btn btn-full btn-danger"