.questions
  %h2 Questions --UNDER CONSTRUCTION--
  %h4 You are very welcome to ask me a question
  %h4 ↓↓↓↓↓↓↓↓↓↓↓↓↓
  %li
    = link_to 'New Question', new_question_path, :class => "btn btn-info"

  %h2 Priorly Asked Questions
  - collection.each do |q|
    .jumbotron
      %div.circle-small
        %li Question
        %p
        Title:
        = q.title
        %p
        Created:
        = q.created_at
        %p
        Updated:
        = q.updated_at
        %p
        = link_to "Edit Question", edit_question_path(q), :class => "btn btn-danger btn-full"
      %hr
      %div.circle-small
        %li Description
        %p
        Description:
        = q.description
        %p
        Created:
        = q.created_at
        %p
        Updated:
        = q.updated_at
        %p
        = link_to "Edit Description", edit_question_path(q), :class => "btn btn-danger btn-full"

      %hr
      %div.circle-small
        %li Answer
        Answer:
        =q.answer
        %p
        Created:
        = q.created_at
        %p
        Updated:
        = q.updated_at
        %p
      - if current_user
        - if current_user.email="ninastache@gmx.de"
          = link_to "Answer Question", edit_question_path(q), :class => "btn btn-full btn-danger"
