%h2 My Coding Experience
%hr
%div.info
  %div.circle
    %li Working
  %h4 Working @ Absolventa
  %p During weekdays I work at Absolventa where I contribute to the development of following websites:
  %ul
    %li
      = link_to 'Absolventa', 'www.absolventa.de'
    %li
      = link_to 'Praktikum-Info', 'www.praktikum.info'
    %li
      = link_to 'Trainee-Geflüster', 'www.trainee-gefluester.de'
    %li
      = link_to 'Jobmesse-Radar', 'www.jobmesse-radar.de'
%div.indent
%div.info
  %div.circle
    %li Developing
  %h4 Developing in my free time
  %p In my spare time I try to work on my own projects as often as I can. Feel free to visit my GitHub account:
  = link_to 'Nina bei GitHub', 'https://github.com/BerliNinja', target: 'blank'