%h2 Priorly Posted Articles
%li
  = link_to 'New Post', new_post_path, :class => "btn btn-info"
- collection.each do |p|
  .jumbotron
    %div
      %h2 Title:
      = p.title
      %h5 Created:
      = p.created_at
      %h5 Updated:
      = p.updated_at
    %hr
    %div
      %h2 Description:
      = p.description
      %p
      = link_to "Edit Post", edit_post_path(p), :class => "btn btn-danger btn-full"